ol, ul {
	list-style: none;
}

body {
	margin: 0;
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 20px;
	-webkit-font-smoothing: antialiased; 
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	
}
html {
	background:#f7f6f6;
	 }


h1, h2, h3, h4, h5, h6 {
	color: #414558;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
	color: #6d8696;
}
h1 {
	font-size: 48px;
	margin-bottom: 10px;
}
h2 {
	font-size: 16px;
	margin-bottom:10px;
	font-weight:600;
	text-transform:uppercase;
}
h3 {
	font-size: 14px;
	margin-bottom: 5px;
	text-transform:uppercase;
}
h4 {
	font-size: 14px;
	margin-bottom: 10px;
}
h5 {
	font-size: 12px;
	margin-bottom: 10px;
}
h6 {
	font-size: 11px;
	margin-bottom: 10px;
}
.subheader {
	color: #414558;
}
p {
	color:#363636;
	line-height:1.5em;
	font-size:1.1em;
	margin: 0 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

p.last {
	margin-bottom:0;
}
p img {
	margin: 0;
}
ul li, ul li a {
	color: #5e637b;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}
img.left {
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
}
img.right {
	float: right;
	margin-bottom: 20px;
	margin-left: 20px;
}
em {
	font-style: italic;
}
strong {
	color: #006b2d;
	font-size: 16px;
}
small {
	font-size: 80%;
}
.dimencao {
	width: 960px;
	margin: 0 auto;
}
.blankSeparator1 {	
	height: 1px;
	background-color:#006B2D;
	display: block;
	margin-bottom: 30px;
}

.sepContainer2 {
	height: 4px;
	background:#CCF8DF;
	border-left:20px solid #006B2D;
	display: block;
	margin: 5px 0;
	margin-bottom: 30px;
}
.sep {
	width: 100%;
	height: 30px
}
.blankSeparator2 {
	height: 1px;
	margin:10px 0;
	display: block;
}

.sep_ban {
	color: red;
	font-size: 90px;
	text-align: center;
	font-family: 'Gotham';
	margin-top: -50px
	

}

.lin {
	width: 100%;
	background-color:#006B2D;
	height: 4px;
	padding-top: 4px;
	position: absolute;
}
