@charset "utf-8";
/* Autor: Gustavo Balieiro Felipe Ra 1520138 */

* {
	box-sizing: border-box;
}

/* HEADER */
/* HEADER */	
/* HEADER */
/* HEADER */
nav {
	
}
.addheader {z-index: 9999;}
.menu-container {	
	height: 7.5em;
	background-color: #000;
	margin: 0;
    padding: 0;
	
}
.menu, .sub-menu {
    margin: 0;
    padding: 0;
	list-style: none;
    background: #000;
	
	
}
.menu {
	margin: 0 auto;
	margin-left: 10%;
	margin-right: 10%;
	
}
.menu .alinhar a {
    text-decoration: none;
    display: block;
    padding: 35px 10px 35px 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;	
	
}
.menu .alinhar li {
    position: relative;
	margin: 0;	
	float: left;
	z-index: 9999;
}
.menu .alinhar li:hover {
    background: #444;
	z-index: 9999;
	
}
.menu .alinhar li:hover .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
	position: absolute;
    min-width: 150px;	
}
.alinhar .sub-menu a {
	padding: 25px;
}
.sub-menu li:hover {
    background: #555;
	width: 100%;
}
.sub-menu .sub-menu {
    top: 0;
    left: 100%;
}

.logotop li{
	z-index: 9999;
	position: relative;
	float: left;
}

.menu  img {
	float: left;
	padding: 5px;
	z-index: 9999
}

.menuadd {
	float:right;
	margin: 20px 100px 2px 0px;
	padding-right: 200px;
	z-index: 9999;
	position:inherit;
	
	
}
.menuadd img {
	float:right;
	z-index: 9999;
	position: absolute;
	
}

.lightbox {
	/** Esconde a classe lightbox */
	display: none;
	margin-top: 70px;
	position:absolute; 
	
	/** Estilo basico para a classe */
}
.lightbox:target {
    /** Aplica essa regras quando target ocorre na classe */
    display: inline-block;
    outline: none;
	z-index: 9999;
	
	
	
}

.lightbox .dados {
    /** Aplica essa regras quando target ocorre na classe */
   display: -webkit-flex;
   background-color: #dcdcdc;
   border-radius: 10px;
   box-shadow: -5px 5px 50px #000;      
   padding: 15px;
	width: 235px;
	height: 200px;
	-webkit-flex-direction: column;
    flex-direction: column;	
	justify-content: space-between;
	position:absolute;
	

}

.autenticacao {
	
  display: -webkit-flex; 
    flex-direction:row;	
	justify-content: space-between;
	
}


.lightbox .dado a{
    display:block;
	text-decoration:none;
	
}
input{
float:left;
	border-radius: 5px;
	border:rgba(0,0,0,1.00);
	padding: 8px

}
.close{
    /**Classe para fechar a div, se quiser*/
    display:inline;
    padding-left: 200px ;
	margin-bottom: 10px;
	text-decoration: none;
	color: #006730
	
}

.imglog {
	width: 50px;
}


.flexdados {
	display: -webkit-flex;
	display: flex;
	width: 250px;	
	height: 120px;
	-webkit-flex-direction: column;
    flex-direction: column;	
	justify-content: space-between;
}

  
.itemflex1 {
	text-decoration: none;
	font-weight: 700;
	color:  #006b2d;
	padding-left: 90px;
	
	
	
}
form .dados  a {
 align-self:flex-end;
		
	 
}
.bnt {
	width: 80px;
	font-size:13px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	padding:9px 18px 9px 18px ;
	background: #006b2d;
	color: #FFFFFF;
	text-transform: uppercase;
    font-weight: 800
	 ;
}

a .itemflex1 {

	flex-wrap: nowrap;
	
}

.bnt:hover {	
	background-color:#069743;
}.bnt:active {
	position:relative;
	top:1px;
}

.loginrespon .dados {
	padding: 7px

}

.loginrespon .bnt {
	border: none;
	width:186px;
	margin: 10px 0 0 0
	

}

.loginrespon .itemflex1 {
	border: none;
	width:200px;
	margin: -10px 0 0 25px;
	font-weight: 600
	

}
.slider {
	-webkit-transition:all ease-out 0.5s;
    -moz-transition:all ease-out 0.5s;
    -o-transition:all ease-out 0.5s;
    -ms-transition:all ease-out 0.5s;
    transition:all ease-out 0.5s;
} 
.slider {
	position: relative;
	z-index: 0;
}
.slider a { 
	position: absolute; 
	top: 0; left: 0; 
	opacity: 0;
	filter:alpha(opacity=0);
}

/* /HEADER */
/* /HEADER */
/* /HEADER */
/* /HEADER */



/* SECTION */
/* SECTION */
/* SECTION */
/* SECTION */

section {	
 	width:960px;	
	margin:0 auto;
}
.box {
	width: 33%;	
	float:left;
	margin: 0 auto;
	padding-left: 15px;
		
}
.media {
	margin: 35px 0 35px 0;
	
}
.parceros {
	position:relative;
	background: white;
  	-webkit-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  	-moz-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  	-ms-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  	-o-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
 	 box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
 	overflow:hidden;
 	 margin-bottom: 25px;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	-ms-border-radius: 4px;
 	border-radius: 4px;
 	-webkit-transition: 0.3s;
  	-o-transition: 0.3s;
 	 transition: 0.3s;	
	margin:0 auto;
	width:100%;
}
.parceros:hover {
 	-webkit-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
 	-moz-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
  	-ms-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
 	-o-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
 	 box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
}
.parceros img {
	width:100%; 
	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
 	-ms-border-radius: 4px;
 	border-radius: 4px;
	opacity: 0.7;
	filter: alpha(opacity=50);
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
	cursor:pointer;	
}
.parceros img:hover {	
	width:100%;	
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	-ms-transition: opacity 1s linear;
	transition: opacity 1s linear;
}
.parc-marg {
	margin-left: 1.8%
}
.tam_desta {
	width: 15%;
}

.tam_desta {
	margin-right: 1.6%;
	margin-bottom:20px;
	float: left;
}
.depoimentos {
	overflow:hidden;
	
}


/* /SECTION */
/* /SECTION */
/* /SECTION */
/* /SECTION */



/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
footer {
	width: 100%;	
    background-color:#000000;	
	margin-top:  50px;
	overflow: hidden;
	
	
	
}
.footer {		
	margin: 0 auto;
    width: 960px;
	padding: 0px 0px 0px 0px;	
	
	
} 
.rod {
	width: 30%;
	float:left;
	padding: 20px 50px 20px 10px;
	margin: 0 auto;
    margin:0px;
    list-style:none;
	color: #FBFBFB;	
}
.menurod,
.sub-menurod {
    margin: 0;
    padding: 0;
	list-style: none;
    background: #000;
	z-index: 10;
}
.menurod a {
    text-decoration: none;
    display: block;
    padding-bottom:10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
	padding: 5px	
}
.menurod li {
    position: relative;
	margin: 0;		
}
.menurod li:hover {
    background: #444;
}
.menurod li:hover .sub-menurod {
    display: block;
}
.sub-menurod {
    display: none;
	position: absolute;
    min-width: 150px;
	background-color:#3D3A3A
}
.sub-menurod a {
	padding: 6px;
}
.sub-menurod li:hover {
    background: #555;
}
.sub-menurod .sub-menurod {
    top: 0;
    left: 100%;
}
.copy {
	float: left;
	background-color:#121212 ;
    width: 100%;
}
.redes {
	width: 165px;
	
	padding: 5px 0px 5px 0px;
	margin: 0 auto;
}
.redes img {
	width: 30px;
}

.side-menu-wrapper { /* style menu wrapper */
    overflow: hidden;
    background: rgba(0,0,0,.95);
    padding: 40px 0 0 40px;
    position: fixed; /* Fixed position */
    top: 0;
    left: -290px; /* Sidebar initial position. "right" for right positioned menu */
    height: 100%;
    z-index: 2;
    transition: 0.5s; /* CSS transition speed */
    width: 250px;
    font: 20px "Courier New", Courier, monospace;
}
.side-menu-wrapper > ul{ /* css ul list style */
    list-style:none;
    padding:0;
    margin:0;
    overflow-y: auto; /* enable scroll for menu items */
    width:500px; /* this width will hide scroll bar */
    height:95%;
}
.side-menu-wrapper > ul > li > a { /* links */
    display: block;
    border-bottom: 1px solid #131313;
    padding: 6px 4px 6px 4px;
    color: #989898;
    transition: 0.3s;
    text-decoration: none;
}
.side-menu-wrapper > a.menu-close { /* close button */
    padding: 8px 0 4px 23px;
    color: #6B6B6B;
    display: block;
    margin: -30px 0 -10px -20px;
    font-size: 35px;
    text-decoration: none;
}

.side-menu-overlay { /* overlay */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}

/* /FOOTER */
/* /FOOTER */
/* /FOOTER */
/* /FOOTER */





.tabela  {
	
	position:relative;
	background: white;
  	-webkit-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  	-moz-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  	-ms-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
  	-o-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
 	 box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
 	 margin-bottom: 10px;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	-ms-border-radius: 4px;
 	border-radius: 4px;
 	-webkit-transition: 0.3s;
  	-o-transition: 0.3s;
 	 transition: 0.3s;
	}

.tabela tr, th, td {
	padding: 15px;
	text-align: left;
	border: 1px solid #A9A9A9;
}

.tabela th {
	color: #fff;
	background-color: #000;
}

@media only screen and (max-width: 1080px) {
	.menuadd {padding-right:100px;}
}

@media only screen and (max-width: 1000px) {

 .tam_desta, .footer {
width: 100%;
}
.parceros {
	width: 100%;
	padding: 20px;
}
	
.tam_desta {
	width: 30%;
}	
.tabelareponsive {
	max-width: 100%;
	overflow: scroll;
}
.menu .alinhar{
    display: none;
}
.box {
	width: 100%;
	margin: 0 auto;
	padding-left: 10px
}
.rod {
	width: 100%;
	margin: 0 auto;
	padding-left: 10px
	}
	
section {
	width: 100%;
	padding:5%;
}
footer {
	width: 100%;
		
}
.footer {
	padding: 20px
}
	.media iframe	{width: 100%}
	
	.menuadd {
		display: none
	}		

    
	
}