@charset "utf-8";
/* CSS Document */

.imgban {
	width: 100%;
	height: 350px;
}
.imgban img {
	width: 100%;
	height: 350px;   
	object-fit: cover;
}

.caixa_news {
	position: relative;
    right: 0;
	left: 0;
	bottom: 75%;
    z-index: 10;
 

			 }
.titulo_news h2 {
	font-weight: 800;
	font-size: 3em;
  	color: #fff;
	text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);	
    text-transform: uppercase;
    line-height: 1.62em;
    margin-bottom: 30px;
}


.section {
	max-width: 960px;
	margin: 0 auto;
	column-count: 3;
	margin-top: 55px;
	
}



@media (max-width: 800px) {
	.section {
		column-count: 1;
		
		
	}
	.news_ p {
		text-align: left;
	}
}


.news_ img {
	display: block;
	max-width: 100%;
}

.news_ {
	background: white;
	margin-bottom: 20px;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(50,50,90,.1);
	break-inside: avoid-column;
	overflow: hidden;
}

.news_ p {
	padding: 10px;
	font-family: sans-serif;
	color: #6B7C93;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.4em;
	text-align: justify;
}

.leia {
	max-width: 100%;
	background-color: #006B2D;
	height: 55px;
	text-align: center;	
	padding-top: 15px;
}

.leia a {
	color: #fff;
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
}

.info-not {
	width: 660px;
	overflow: hidden;
	float: left;
}

.info-not h1 {
	font-weight: 700;
	line-height: 1;
	
}
.info-not img{
	width: 660px;
}
.info-not p {
	padding-top: 15px;
	font-family: sans-serif;
	color: #6B7C93;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.4em;
	text-align: justify;
}
.autor p {
	padding: 1px 0 0 10px;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 1em;
	line-height: 0.3em;
	text-align: justify;
	color: #A6A6A6;
}
.recentes {
	margin-top: 48px;
	max-width: 280px;
	float: right;
	overflow:hidden;
	border-left: 2px solid;
 	border-color:#6C6C6C;
}


.recent1 {
	background-color: #006B2D;
	border-radius: 2px;
}

.recent1 p {
	padding: 20px;
	color: #fff;
	font-weight: 500;
}
.recent1 a {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}
.recent1 a:hover {
	text-decoration:underline;
}
.recentes h1 {
	padding: 5px;
}
@media (max-width: 1000px) {
	.recentes {display: none;}
	.info-not {width: 100%}
	.info-not img{width: 100%;
}
}