<!DOCTYPE html>
<html>
<head> 
<!-- AUTOR:
Gustavo Balieiro 1520138
Luan Millian Gonçalves
 DATA = 29/08/2017-->
<title>USF</title> 
<link rel="stylesheet" href="/static/site.css"
<meta charset="utf-8"/>
</head>
	
	<!-- MediaQuery -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<!-- /MediaQuery -->

	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css" media="all" />
  
   	<link rel="stylesheet" href="css/cont-cursos.css">
  
    <!-- jQuery -->
    <script src="js/formatar-data-tel.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
    
	<!-- Adicionar HEADER e FOOTER-->
	<script>
	$(function() {
		$(".addheader").load("header.html");
		$(".addfooter").load("footer.html");
	})
	</script>
	<!-- /Adicionar HEADER e FOOTER-->
	
	<!-- Efeito de toggle mostrar e esconder -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<!-- Script JQuery Toggle -->
		<script>
		$(document).ready(function()
		{
		$(".mostrar").hide();
		$(".semestre").click(function()
		{
		$(this).next(".mostrar").slideToggle(600);
		});
		});
		</script>
<!-- Fim Script JQuery Toggle -->

	
	<!-- /Efeito de toggle mostrar e esconder -->
	
	<!-- /Java Script -->

		

<body>

	
<header>
       
       <div class="addheader"></div>
		
</header> 
<main>
        {%extends 'base.html' %}
        {% block main %}
 
 <div class="img_cursos">
			<img src="img/cursos/adm.png">
			
			<div class="caixa_curs">
					<div class="titulo_curs">
						<h2>Administração</h2>
					</div>
					<div class="sep_ban">...</div>
				</div>
			
		</div>
 <section> 

		<div class="conteudo_cur">
		
		

	<p><h2><strong>SOBRE O CURSO</strong> </h2>
	<div class="sepContainer2"></div>
		<p>A <b>Graduação em Administração</b> te preparara para ser um profissional completo e com as habilidades que o mercado de trabalho procura. Você será capaz de administrar, empreender, desenvolver e planejar ações, adquirindo conhecimentos estratégicos em conjunto com as novas tecnologias.</p>
 
		<p>O curso te habilita para o cenário real de gestão e liderança empresarial, garantindo a capacidade de comunicação e criatividade para solucionar problemas, atingir os melhores resultados, aumentar a produtividade e reduzir custos.</p>

	
</p>
	 
	 <div class="info_curso">
		 <div class="img_curso_desc">
			<img src="img/cursos/relogio.png">
		 </div>
				<div class="text">
					<p>
						Periodo:<br>
					 <b>Noturno</b>
					 
					</p>
		 </div>
	 </div>
	 
	 <div class="info_curso">
		 <div class="img_curso_desc">
			<img src="img/cursos/calendario.png">
		 </div>
				<div class="text">
					<p>
						Duração:<br>
					 <b>8 semestres</b>
					 
					</p>
				</div>
		 </div>
	 </div>
	 		
	 		
	


		
		<div class="conteudo_cur">
		
		

	<p><h2><strong>QUERO MAIS INFORMAÇÕES</strong> </h2>
	<div class="sepContainer2"></div>
		
</p>
		<form class="maisinfo" id="form" name="form" method="post" action="?">		
		<div class="form-grop">
			<label class="text-info">Nome*</label>
			<input type="text" class="form-control" placeholder="Insira seu nome" required>
		</div>
		
		<div class="form-grop">
			<label class="text-info">E-mail*</label>
			<input type="email" class="form-control" placeholder="Insira seu e-mail" required>
		</div>
		
		<div class="form-grop">
			<label class="text-info">Telefone*</label>
			<input name="telefone"  class="form-control"  type="text" id="telefone" placeholder="(##) ####-####" maxLength="14" onKeyPress="fone(this,document.form.data);return Apenas_Numeros(event);" required>	
		</div>
	</form>
		
		<button type="button" class="bnt-info">Enviar</button>

		</div>
		
				
		<div class="grade">
		<div class="semestre">
 		01º Semestre </div>
		<div class="mostrar">
		<div class="col-grade"><p>Comunicação e Expressão</p></div>
		<div class="col-grade"><p>Fundamentos da Administração</p></div>
		<div class="col-grade"><p>Macroeconomia</p></div>
		<div class="col-grade"><p>Modelos de Negócios e Empreendedorismo</p></div>
		<div class="col-grade"><p>Pensamento Crítico e Ética</p></div>
		</div>
		</div>
				
		
		<div class="grade">
		<div class="semestre">
 		02º Semestre </div>
		<div class="mostrar">
		<div class="col-grade"><p>Análise Exploratória de Dados</p></div>
		<div class="col-grade"><p>Cálculo</p></div>
		<div class="col-grade"><p>Contabilidade Financeira</p></div>
		<div class="col-grade"><p>Língua Brasileira de Sinais - LIBRAS (Optativa)</p></div>
		<div class="col-grade"><p>Microeconomia</p></div>
		<div class="col-grade"><p>Raciocínio Analítico</p></div>
		<div class="col-grade"><p>Sociedade e Sustentabilidade (Optativa)</p></div>
		<div class="col-grade"><p>Sociologia e Política</p></div>
		</div>
		</div>
		
	
		<div class="grade">
		<div class="semestre">
 		03º Semestre </div>
		<div class="mostrar">
		<div class="col-grade"><p>Comportamento Organizacional</p></div>
		<div class="col-grade"><p>Contabilidade Gerencial</p></div>
		<div class="col-grade"><p>Gestão de Projetos e Programas</p></div>
		<div class="col-grade"><p>Inteligência de Negócios</p></div>
		<div class="col-grade"><p>Matemática Financeira</p></div>
		<div class="col-grade"><p>Modelagem de Processos de Negócio</p></div>
		</div>
		</div>
		
		<div class="grade">
		<div class="semestre">
 		04º Semestre </div>
		<div class="mostrar">
		<div class="col-grade"><p>Administração Financeira</p></div>
		<div class="col-grade"><p>Estratégia Organizacional</p></div>
		<div class="col-grade"><p>Gestão de Marketing</p></div>
		<div class="col-grade"><p>Legislação e Ética</p></div>
		<div class="col-grade"><p>Gestão Estratégica de Pessoas</p></div>
		</div>
		</div>		

		
		<div class="grade">
		<div class="semestre">
 		05º Semestre </div>
		<div class="mostrar">
		<div class="col-grade"><p>Design Thinking</p></div>
		<div class="col-grade"><p>Direito Aplicado à Administração</p></div>
		<div class="col-grade"><p>Gestão da Qualidade</p></div>
		<div class="col-grade"><p>Marketing Avançado</p></div>
		<div class="col-grade"><p>Responsabilidade Social Corporativa</p></div>
		<div class="col-grade"><p>Startup e Inovação</p></div>
		</div>
		</div>
		
		<div class="grade">
		<div class="semestre">
 		06º Semestre </div>
		<div class="mostrar">
		<div class="col-grade"><p>Finanças Corporativas e Mercado de Capitais</p></div>
		<div class="col-grade"><p>Gestão da Cadeia de Suprimentos</p></div>
		<div class="col-grade"><p>Gestão de Custos</p></div>
		<div class="col-grade"><p>Gestão de Projetos de Inovação</p></div>
		<div class="col-grade"><p>Tomada de Decisão e Negociação</p></div>
		</div>
		</div>
		
		<div class="grade">
		<div class="semestre">
 		07º Semestre </div>
		<div class="mostrar">
		<div class="col-grade"><p>Análise de Viabilidade de Projetos</p></div>
		<div class="col-grade"><p>Estratégia Competitiva e Corporativa</p></div>
		<div class="col-grade"><p>Jogos de Estratégias</p></div>
		<div class="col-grade"><p>Trabalho de Conclusão de Curso 1 - TCC1</p></div>
		</div>
		</div>
		
		<div class="grade">
		<div class="semestre">
 		08º Semestre </div>
		<div class="mostrar">
		<div class="col-grade"><p>Governança CorporativaGovernança Corporativa</p></div>
		<div class="col-grade"><p>Negócios Internacionais</p></div>
		<div class="col-grade"><p>Sistemas Integrados de Gestão</p></div>
		<div class="col-grade"><p>Trabalho de Conclusão de Curso 2 - TCC2</p></div>
		</div>
		</div>
		
		
 
	

	
	
	
</section>  


{% endblock %}
</main>>	




<footer>
	
		<div class="addfooter"></div>
         
</footer>


</body>



</html>