<!DOCTYPE html>
<html>
<head> 
<!-- AUTOR = Luciano Carlos dos Anjos Santos
 DATA = 29/08/2017-->
<title>Cursos</title> 
<meta charset="utf-8"/>
</head>

<body>

</header>
<main>
        {%extends 'base.html' %}
        {% block main %}

<section>
	<center>
		<div id="title">
	<h1>Cursos</h1>
	</div>
		<div id = "cursos">
			<div id = "curso">

	<a href = "Administração.html"> Administração </href></a>
	<p> </p>

	<a href = "Nutrição.html"> Nutrição </href></a>
	<p> </p>

	<a href = "Enfermagem.html"> Enfermagem </href></a>
	<p> </p>

	<a href = "Fisioterapia.html"> Fisioterapia </href></a>
	<p> </p>

	<a href = "Odontologia.html"> Odontologia </href></a>
	<p> </p>

	<a href = "Farmácia.html"> Farmácia </href></a>
	<p> </p>

	<a href = "Pedagogia.html"> Pedagogia </href></a>
	<p> </p>

	<a href = "Psicologia.html"> Psicologia </href></a>
	<p> </p>

	<a href = "Gastronomia.html"> Gastronomia </href></a>
	<p> </p>
	
	<a href = "Medicina.html"> Medicina </href></a>
	<p> </p>

	<a href = "Biomedicina.html"> Biomedicina </href></a>
	<p> </p>

	<a href = "Radiologia.html"> Radiologia </href></a>
	<p> </p>
	
	<a href = "Gestão Ambiental.html"> Gestão Ambiental </href> </a>
	<p> </p>
	
	
	
	
	
	
	
	
	
	<center>  USF - Universidade São Francisco	 |	0800 727 8855 </div><center>		                                     
 <center>São Paulo - 2017 </center>
 <center>
 Redes Sociais: <br/> 
<a href ="https://www.facebook.com/usfoficial"target="_blank"><img src="img/facebook.jpg" alt="USF_Facebook"></a> 
<a href ="https://www.linkedin.com/edu/school?id=10725&trk=prof-following-school-logo"target="_blank"><img src="img/linkedin.jpg" alt="USF_Linkedin"></a>
<a href ="https://twitter.com/usfoficial"target="_blank"><img src="img/twitter.jpg" alt="USF_Twitter"></a>
<a href ="http://www.youtube.com.br/mktusf"target="_blank"><img src="img/youtube.jpg" alt="USF_Youtube"></a>
<a href ="https://instagram.com/usfoficial"target="_blank"><img src="img/instagram.jpg" alt="USF_Instagram"></a></center>
																																			
 </section>																																			
     {% endblock %}
 </main>>																																	
                                                                                                                                            

</body>
</html>	