<!DOCTYPE html>
<html>
<head> 
 	<meta name="author" content="Gustavo Balieiro-1520138">
	<meta name="author" content="Luan Millian-123456">

<title>USF - Universidade São Francisco</title> 
<meta charset="utf-8"/>
</head>
	
	<!-- MediaQuery -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<!-- /MediaQuery -->
	
	<!-- CSS's -->
	<link rel="stylesheet" type="text/css" href="/static/estilo.css">
	<link rel="stylesheet" href="/static/base.css">
	<link rel="stylesheet" type="text/css" href="/static/styles.css" media="all" />
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/menuresponsivo.css">
    <!-- /CSS's -->
  
    <!-- Java Script -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>    
     
   
	
	<!-- Adicionar HEADER e FOOTER-->
	<script>
	$(function() {
		$(".addheader").load("header.html");
		$(".addfooter").load("footer.html");
	})
	</script>
	<!-- /Adicionar HEADER e FOOTER-->
	
	<!-- /Java Script -->



<body>

	
<header>
       
       <div class="addheader"></div>

			<div class="flexslider">
				<ul class="slides">

				</ul>
			</div>
		  
</header> 


   
<div class="section dimencao">
		<div class="int">
		 <table class="tabela" border="1px solid black">
                <tr>
                    <th colspan="5">Graduação em Administração</th>
                </tr>
                <tr>
                    <th>1 Semestre</th>
                    <th>2 Semestre</th>
                    <th>3 Semestre</th>
                    <th>4 Semestre</th>
                    <th>5 Semestre</th>
                </tr>
                <tr>
                        <td>Comunicação e Expressão</td>
                        <td>Análise Exploratória de Dados</td>
                        <td>Comportamento Organizacional</td>
                        <td>Gestão da Cadeia de Suprimentos</td>
                        <td>Gestão de Custos</td>

                    </tr>
                    <tr>
                            <td>Fundamentos de Administração</td>
                            <td>Cálculo</td>
                            <td>Contabilidade Gerencial</td>
                            <td>Modelagem de Processos de Negócio</td>
                            <td>Administração Financeira</td>

                        </tr>
                        <tr>
                                <td>Macroeconomia</td>
                                <td>Contabilidade Financeira</td>
                                <td>Gestão de Projetos e Programas</td>
                                <td>Estratégia Organizacional</td>
                                <td>Gestão de Marketing</td>

                            </tr>
                                <tr>
                                    <td>Matemática Aplicada</td>
                                    <td>Língua Brasileira de Sinais - LIBRAS (Optativa)</td>
                                    <td>Inteligência de Negócios</td>
                                    <td>Gestão de Operações</td>
                                    <td>Gestão Estratégica de Pessoas</td>

                                    </tr>
                                    <tr>
                                            <td>Modelos de Negócios e Empreendedorismo</td>
                                            <td>Microeconomia</td>
                                            <td>Matemática Financeira</td>
                                            <td>Responsabilidade Social Corporativa</td>
                                            <td>Startup e Inovação</td>
        
                                            </tr>
                                    
            </table>

		
	</div>
	</div>



<div class="dimencao parceros">
 
 <div class="parc-marg">
  <h2><strong>PARCEIROS E DIFERENCIAIS:</strong></h2>
  <div class="tam_desta"> <a href="http://www.creditouniversitario.com.br" target="_self"><img src="/static/pravaler.jpg" alt="Parceiro Pravaler" title="Pravaler"/></a> </div>
  
  <div class="tam_desta"> <a href="http://sisfiesportal.mec.gov.br/" target="_self"><img src="/static/fies.jpg" alt="Parceiro FIES" title="FIES"/></a> </div>
  
  <div class="tam_desta"> <a href="http://www.creditouniversitario.com.br" target="_self"><img src="/static/pravaler.jpg" alt="Parceiro Pravaler" title="Pravaler"/></a> </div>
  
  <div class="tam_desta"> <a href="http://sisfiesportal.mec.gov.br/" target="_self"><img src="/static/fies.jpg" alt="Parceiro FIES" title="FIES"/></a> </div>
  
  <div class="tam_desta"> <a href="http://www.creditouniversitario.com.br" target="_self"><img src="/static/pravaler.jpg" alt="Parceiro Pravaler" title="Pravaler"/></a> </div>
  
  <div class="tam_desta"> <a href="http://sisfiesportal.mec.gov.br/" target="_self"><img src="/static/fies.jpg" alt="Parceiro FIES" title="FIES"/></a> </div>
  
  </div>
</div>



<footer>
	
		<div class="addfooter"></div>
         
</footer>


</body>



</html>