<!DOCTYPE html>
<html>
<head> 
 	<meta name="author" content="Gustavo Balieiro-1520138">
	<meta name="author" content="Luan Millian-123456">

<title>USF - Universidade São Francisco</title> 
<meta charset="utf-8"/>
</head>
	
	<!-- MediaQuery -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<!-- /MediaQuery -->
	
	<!-- CSS's -->
	<link rel="stylesheet" type="text/css" href="/static/estilo.css">
	<link rel="stylesheet" href="/static/base.css">
	<link rel="stylesheet" type="text/css" href="/static/styles.css" media="all" />
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/menuresponsivo.css">
    <!-- /CSS's -->
  
    <!-- Java Script -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>    
     
   
	
	<!-- Adicionar HEADER e FOOTER-->
	<script>
	$(function() {
		$(".addheader").load("header.html");
		$(".addfooter").load("footer.html");
	})
	</script>
	<!-- /Adicionar HEADER e FOOTER-->
	
	<!-- /Java Script -->



<body>

	
<header>
       
       <div class="addheader"></div>

			<div class="flexslider">
				<ul class="slides">

				</ul>
			</div>
		  
</header> 

<div class="container">
			  
     <div class="slider_container">
		<div class="flexslider">
	    	<ul class="slides">
	    		
	    		<li>
	    		<a href="#"><img src="/static/slide1.jpg" alt="" title=""/></a>
	    			<div class="caixa">
						 <div class="titulo">
						 <h2>Administração</h2><p>Find the perfect hairstyle a la Lauren Conrad for every type of festive fête.</p>
						 </div>
                	</div>
	    		</li>
	    	
	    		<li>
	    		<a href="#"><img src="/static/slide2.jpg" alt="" title=""/></a>
	    			<div class="caixa">
                    	 <div class="titulo">
                    	 <h2>Nutrição</h2><p>The latest hairstyles and instructions on how to create them here. Total Beauty has your complete hairstyles guide</p></div>
                		 </div>
	    		</li>
	    		
	    	</ul>
	  	</div>
  	 </div>
</div>  

   
<div class="section dimencao">

	<div class="int">
		<table class="tabela" border="1px solid black">
                <tr>
                    <th colspan="5">Graduação em Analise e desenvolvimento de Sistemas</th>
                </tr>
                <tr>
                    <th>1 Semestre</th>
                    <th>2 Semestre</th>
                    <th>3 Semestre</th>
                    <th>4 Semestre</th>
                    <th>5 Semestre</th>
                </tr>
                <tr>
                        <td>Análise de Sistemas Orientada a Objetos</td>
                        <td>Atividades Complementares</td>
                        <td>Banco de Dados</td>
                        <td>Comunicação Aplicada</td>
                        <td>Desenvolvimento de Software para Internet</td>

                    </tr>
                    <tr>
                            <td>Desenvolvimento Sustentável </td>
                            <td>Direitos Humanos (Optativa)</td>
                            <td>Economia e Mercado </td>
                            <td>Educação Ambiental (Optativa)</td>
                            <td>Empreendedorismo</td>

                        </tr>
                        <tr>
                                <td>Engenharia de Software I</td>
                                <td>Engenharia de Software II</td>
                                <td>Estatística</td>
                                <td>Estudos Disciplinares</td>
                                <td>Ética e Legislação Profissional </td>

                            </tr>
                                <tr>
                                    <td>Fundamentos de Redes de Dados e Comunicação</td>
                                    <td>Fundamentos de Sistemas Operacionais</td>
                                    <td>Gerenciamento de Projetos de Software</td>
                                    <td>Gestão da Qualidade </td>
                                    <td>Gestão Estratégica de Recursos Humanos </td>

                                    </tr>
                                    <tr>
                                            <td>Linguagem e Técnicas de Programação</td>
                                            <td>Lógica</td>
                                            <td>Língua Brasileira de Sinais (Optativa)</td>
                                            <td>Matemática para Computação</td>
                                            <td>Metodologia Científica </td>
        
                                            </tr>
                                    
            </table>

		
	</div>

</div>



<div class="dimencao parceros">
 
 <div class="parc-marg">
  <h2><strong>PARCEIROS E DIFERENCIAIS:</strong></h2>
  <div class="tam_desta"> <a href="http://www.creditouniversitario.com.br" target="_self"><img src="/static/pravaler.jpg" alt="Parceiro Pravaler" title="Pravaler"/></a> </div>
  
  <div class="tam_desta"> <a href="http://sisfiesportal.mec.gov.br/" target="_self"><img src="/static/fies.jpg" alt="Parceiro FIES" title="FIES"/></a> </div>
  
  <div class="tam_desta"> <a href="http://www.creditouniversitario.com.br" target="_self"><img src="/static/pravaler.jpg" alt="Parceiro Pravaler" title="Pravaler"/></a> </div>
  
  <div class="tam_desta"> <a href="http://sisfiesportal.mec.gov.br/" target="_self"><img src="/static/fies.jpg" alt="Parceiro FIES" title="FIES"/></a> </div>
  
  <div class="tam_desta"> <a href="http://www.creditouniversitario.com.br" target="_self"><img src="/static/pravaler.jpg" alt="Parceiro Pravaler" title="Pravaler"/></a> </div>
  
  <div class="tam_desta"> <a href="http://sisfiesportal.mec.gov.br/" target="_self"><img src="/static/fies.jpg" alt="Parceiro FIES" title="FIES"/></a> </div>
  
  </div>
</div>



<footer>
	
		<div class="addfooter"></div>
         
</footer>


</body>



</html>