<!DOCTYPE html>
<html>
<head> 
<!-- AUTOR:
Gustavo Balieiro 1520138
Luan Millian Gonçalves
 DATA = 29/08/2017-->
<title>USF</title> 
<meta charset="utf-8"/>
</head>
	
	<!-- MediaQuery -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<!-- /MediaQuery -->

	<link rel="stylesheet" type="text/css" href="/static/estilo.css">
	<link rel="stylesheet" href="/static/base.css">
	<link rel="stylesheet" type="text/css" href="/static/styles.css" media="all" />  
   	<link rel="stylesheet" href="/static/cont-form.css">
  
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
    
	<!-- Adicionar HEADER e FOOTER-->
	<script>
	$(function() {
		$(".addheader").load("header.html");
		$(".addfooter").load("footer.html");
	})
	</script>
	<!-- /Adicionar HEADER e FOOTER-->
	
	<!-- Efeito de toggle mostrar e esconder -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<!-- Script JQuery Toggle -->
		<script>
		$(document).ready(function()
		{
		$(".mostrar").hide();
		$(".semestre").click(function()
		{
		$(this).next(".mostrar").slideToggle(600);
		});
		});
		</script>
<!-- Fim Script JQuery Toggle -->

	
	<!-- /Efeito de toggle mostrar e esconder -->
	
	<!-- /Java Script -->

		

<body>

	
<header>
       
       <div class="addheader"></div>
		
</header> 

 
 <div class="img_esq">
			<img src="/static/esqueci-senha.jpg">
		</div>
 <section> 


		
		<div class="conteudo_cur">
		
		

	<p><h2><strong>QUERO MAIS INFORMAÇÕES</strong> </h2>
	<div class="sepContainer2"></div>
	
		
</p>
	<p>Para redefinir sua senha, digite o seu endereço de e-mail. (O e-mail deve ser o mesmo que você informou no ato de sua matrícula)</p>
		
		
		<div class="form-grop">
		<form class="maisinfo">
			<label class="text-info">E-mail*</label>
			<input type="email" class="form-control" placeholder="Insira seu e-mail" required>
		</form>
	 	 </div>
			
	 	<div class="form-grop">
		<form class="maisinfo">
			<label class="text-info">RA*</label>
			<input type="text" class="form-control" placeholder="Insira seu RA" required>
		</form>
		</div>
		
		
		
		<button type="button" class="bnt-info">Enviar</button>

		</div>
		
				
		

	
	
	
</section>  






<footer>
	
		<div class="addfooter"></div>
         
</footer>


</body>



</html>