<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/estilo.css">
<link rel="stylesheet" href="/static/base.css">
</head>

<footer>
		<div class="footer">
				<div class="rod">
					<h2><strong>SOBRE</strong></h2>
					Na Universidade São Francisco (USF), o aluno conta com a tradição de uma instituição sólida no mercado educacional. São mais de 40 anos de atuação e 80 mil alunos formados. Presente nas cidades de Bragança Paulista, Campinas (Unidades Swift e Cambuí) e Itatiba, oferta mais de 30 cursos de graduação, 10 de pós-graduação, incluindo três programas de Mestrado e Doutorado.
				</div>
        		<div class="rod">
						<h2><strong>Navegação</strong></h2>

						<ul class="menurod">

							
							<li><a href="institucional.html">Institucional</a></li>
							<li><a href="#">Cursos</a>
								
									<ul class="sub-menurod">
										<li><a href="ads.html">Analise e Desenvolvimento de sistema</a></li> 
										<li><a href="adm.html">Administração</a></li> 
										<li><a href="enfermagem.html">Enfermagem</a></li> 
										<li><a href="fisioterapia.html">Fisioterapia</a></li>                 

									</ul>

							 </li>
						<li><a href="#">Estude na USF</a></li>
						<li><a href="noticias.html">Noticias</a></li>
						<li><a href="contato.html">Contato</a></li>

						</ul>	
					
				</div>
          		
          		<div class="rod">
					<h2><strong>CONTATO:</strong></h2>
					<strong>Comercial:</strong>
					Tel: 11 3254-8300<br />

					<strong>Secretaria:</strong>
					Tel: 11 5593-5346<br /><br /><br />

					Unidade - Barra Funda

					Avenida Rudge, 315 - Barra Funda
					São Paulo / SP<br />
				</div>
          		
           		
                    
            
            
            
         </div>
         
         <div class="copy">
					<div class="redes">
						<a href ="https://www.facebook.com/usfoficial" target="_blank"><img src="/static/facebook.png" alt="USF_Facebook"></a> 

						<a href ="https://www.linkedin.com/edu/school?id=10725&trk=prof-following-school-logo" target="_blank"><img src="/static/linkedin.png" alt="USF_Linkedin"></a>

						<a href ="https://twitter.com/usfoficial" target="_blank"><img src="/static/twitter.png" alt="USF_Twitter"></a>

						<a href ="http://www.youtube.com.br/mktusf" target="_blank"><img src="/static/youtube.png" alt="USF_Youtube"></a>

						<a href ="https://instagram.com/usfoficial"  target="_blank"><img src="/static/instagram.png" alt="USF_Instagram"></a> 
						
					</div>
				</div>
         
</footer>
 
<body>
</body>
</html>
