<!DOCTYPE html>
<html>
<head> 
 	<meta name="author" content="Gustavo Balieiro-1520138">
	<meta name="author" content="Luan Millian-123456">

<title>USF - Universidade São Francisco</title> 
<link rel="stylesheet" href="/static/site.css"
<meta charset="utf-8"/>
</head>
	
	<!-- MediaQuery -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<!-- /MediaQuery -->
	
	<!-- CSS's -->
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css" media="all" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/menuresponsivo.css">
    <!-- /CSS's -->
  
    <!-- Java Script -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     
    
    <!-- SLIDE -->
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>    
    <script type="text/javascript" charset="utf-8">
				$(function() {
		$(".addheader").load("header.html");
		$(".addfooter").load("footer.html");
	});
		var $ = jQuery.noConflict();
			$(window).load(function() {
			$('.flexslider').flexslider({
				  animation: "fade"
			});
			$(function() {
				$('.show_menu').click(function(){
						$('.menu').fadeIn();
						$('.show_menu').fadeOut();
						$('.hide_menu').fadeIn();
				});
				$('.hide_menu').click(function(){
						$('.menu').fadeOut();
						$('.show_menu').fadeIn();
						$('.hide_menu').fadeOut();
				});
			});
		  });
	 		
	</script>
	
	
	<!-- SLIDE -->
	
	<!-- Adicionar HEADER e FOOTER-->
	
	<!-- /Adicionar HEADER e FOOTER-->
	
	<!-- /Java Script -->



<body>


	
	
<header>
       
   <div class="menu-container">
				
			<ul class="menu">
			 
				<div class="logotop">
					<li><a href="index.html"><img src="/static/logo-usf.png" alt="Logo" width="110"></a></li>
				</div>
						
							<div class="alinhar">
							<li><a href="institucional.html">Institucional</a></li>
							<li><a href="#">Cursos</a>
							
								
									<ul class="sub-menu">
										<li><a href="ads.html">Analise e Desenvolvimento de sistema</a></li> 
										<li><a href="adm.html">Administração</a></li> 
										<li><a href="enfermagem.html">Enfermagem</a></li> 
										<li><a href="fisioterapia.html">Fisioterapia</a></li>   
									            

									</ul>

							 </li>
						<li><a href="#">Estude na USF</a></li>
						<li><a href="noticias.html">Noticias</a></li>
						<li><a href="contato.html">Contato</a></li>
						
					
					</div>
					
					
				
	 		</ul>
	 		
	 		<ul class="menuadd">
            	
            		<a href="#autenticação"><img class="imglog" src="img/autenticacao-login.png" alt="autenticação"></a>
						
						<div id="autenticação" class="lightbox">
							
							<form class="dados">
							<a class="close" href="#">&#10006;</a> 
								<input class="itemflex" name="id" placeholder="Registro do Aluno"/>
								<input class="itemflex" type="password" placeholder="Senha"  />
							

								
								<form class="autenticacao">
										<button class="itemflex bnt" id="botaolg" type="button" maxlength="2">Login</button>     		
										<a class="itemflex1" href="esqueceu-a-senha.html">Esqueceu a senha?</a>
										
									</form>

								
							</form>

						</div>	
        

								
            	
            </ul>
	 		
	 		
	 		<nav class="menurepon menurepon-right" data-focus="#first-link">
            <div class="menurepon-content">
                <ul>
                   <li class="menurepon-link"><a href="institucional.html">Instituição</a></li>
                   <li class="menurepon-submenu">
                        <button id="first-link">Cursos</button>
                        <ul>
                            <li class="menurepon-link"><a href="ads.html">Analise e Desenvolvimento de Sistema</a></li>
                            <li class="menurepon-link"><a href="adm.html">Administração</a></li>
                            <li class="menurepon-link"><a href="enfermagem.html">Enfermagem</a></li>
                            <li class="menurepon-link"><a href="fisioterapia.html">Fisioterapia</a></li>
                        </ul>
                    </li>
                    <li class="menurepon-link"><a href="#">Estude na USF</a></li>
                    <li class="menurepon-link"><a href="noticias.html">Noticias</a></li>
                    <li class="menurepon-link"><a href="contato.html">Contato</a></li>
                    <li class="loginrespon">
                        
                        
                         
						                          
							
							<form class="dados"> 
								<input class="itemflex" name="id" placeholder="Registro do Aluno"/><br><br>
								<input class="itemflex" type="password" placeholder="Senha"  />
							

								
								<form class="autenticacao">
										<button class="itemflex bnt" type="button" maxlength="2">Login</button>     		
										<a class="itemflex1" href="esqueceu-a-senha.html">Esqueceu a senha?</a>
										
									</form>

								
							</form>
					</li>
							
        

								
            	
                        </ul>
                        
                                       
                
            </div>
            
            
            
        </nav>

      
        <div class="site-overlay"></div>
        
		
        <div id="container">
           
            <button class="menu-btn" style="font-size: 20px ">&#9776;</button>

            
        </div>
        
        
        
      
	 		
	</div>
	
	 		

		<div class="container">

		 <div class="slider_container">
			<div class="flexslider">
				<ul class="slides">

					<li>
					<a href="#"><img src="/static/slider/slide1.jpg" alt="" title=""/></a>
						<div class="caixa">
							 <div class="titulo">
							 <h2>Administração</h2><p> Seja mais do que somente mais um administrador do mercado. Faça um curso reconhecido pelo MEC com conceito máximo </p>
							 </div>
						</div>
					</li>

					<li>
					<a href="#"><img src="/static/slider/slide2.jpg" alt="" title=""/></a>
						<div class="caixa">
							 <div class="titulo">
							 <h2>Nutrição</h2><p>O curso de nutrição da universidade paulista tem como objetivos formar nutricionistas com conhecimentos, competências e habilidades</p></div>
							 </div>
					</li>

				</ul>
			</div>
		 </div>
	</div>  
</header> 
<main>
    {%extends 'base.html' %}

    {% block main %}
  
<section> 
		<div class="conteudo">

			<div class="box">
				<p><h2><strong>Apresentação </strong> </h2>
				Na Universidade São Francisco (USF), o aluno conta com a tradição de uma instituição sólida no mercado educacional. São mais de 40 anos de atuação e 80 mil alunos formados. Presente nas cidades de Bragança Paulista, Campinas (Unidades Swift e Cambuí) e Itatiba, oferta mais de 30 cursos de graduação, 10 de pós-graduação, incluindo três programas de Mestrado e Doutorado.</p>
			</div>


			<div class="box">
				<p><h2><strong>Ser Comunitária</strong></h2>

				A USF integra o seleto grupo das Instituições Comunitárias de Ensino Superior (ICES) do Brasil, participando também da Associação Brasileira das Universidades Comunitárias (ABRUC), que reúne 66 Instituições, que apresentam conceitos de 3 a 5 no Índice Geral de Cursos da Instituição (IGC), do Ministério da Educação (MEC).</p>
			</div>


		
			<div class="box">	
				<p><h2><strong>Missão</strong></h2>	

				Produzir e difundir o conhecimento, libertar o ser humano pelo diálogo entre a ciência e a fé e promover fraternidade e solidariedade, mediante a prática do bem e consequente construção da paz. </p>
			</div>

			<div class="box">	

				<p><h2><strong>Visão</strong></h2> 

				Ser reconhecida pela excelência acadêmica, pelo dinamismo, pela inovação e pelo compromisso para com a sociedade, a justiça, a paz e a ecologia.</p>
			</div>
		</div>
 


	<div class="parceros">

		 <div class="parc-marg">

		  <h2><strong>PARCEIROS E DIFERENCIAIS:</strong></h2>
		  <div class="tam_desta"> <a href="http://www.creditouniversitario.com.br" target="_self"><img src="img/pravaler.jpg" alt="Parceiro Pravaler" title="Pravaler"/></a> </div>

		  <div class="tam_desta"> <a href="http://sisfiesportal.mec.gov.br/" target="_self"><img src="img/fies.jpg" alt="Parceiro FIES" title="FIES"/></a> </div>

		  <div class="tam_desta"> <a href="http://www.creditouniversitario.com.br" target="_self"><img src="img/pravaler.jpg" alt="Parceiro Pravaler" title="Pravaler"/></a> </div>

		  <div class="tam_desta"> <a href="http://sisfiesportal.mec.gov.br/" target="_self"><img src="img/fies.jpg" alt="Parceiro FIES" title="FIES"/></a> </div>

		  <div class="tam_desta"> <a href="http://www.creditouniversitario.com.br" target="_self"><img src="img/pravaler.jpg" alt="Parceiro Pravaler" title="Pravaler"/></a> </div>

		  <div class="tam_desta"> <a href="http://sisfiesportal.mec.gov.br/" target="_self"><img src="img/fies.jpg" alt="Parceiro FIES" title="FIES"/></a> </div>

		  </div>
	</div>

	<div class="depoimentos">
		
		<h2><strong>Depoimentos de Ex-Alunos</strong></h2>


		<div class="box"> 
			<h4> RITA DE CÁSSIA </h4>
			"Minha relação com a USF já acontece há mais de 20 anos: foi nessa instituição que me graduei em Fisioterapia (1992), me especializei em Fisioterapia em Geriatria e Gerontologia (2002), concluí meu mestrado em ciências da Reabilitação (2009)...
			<a href = "#" target ="_blank"> Leia Mais</a>
		</div>



		<div class="box">
			<h4> ANA DOMINGUES</h4>
			"O MBA em Marketing Digital abriu as portas do mercado para mim e possibilitou que eu pudesse mudar de empresa...
			<a href = "#" target ="_blank"> Leia Mais</a>
		</div>


	</div>
</section> 
		<p> {{ usuario }} </p>
		<ul>
			{% for curso in cursos %}
			    {% if curso.ativo %}
			<li class="{{ curso.classe }}" > {{ curso.nome }} - {{ curso.tipo }} </li>
		        {% endif %}
			{% endfor %}


		</ul>
		{% if perfil == 'aluno' %}
			<p>Conteúdo para Alunos!</p>
		{% elif perfil == 'professor' %}
			<p>Conteúdo para Professores!</p>
		{% else %}
		    <p>Conteúdo para Coodenadores!</p>
		{% endif %}
    {% endblock %}
</main>>
<footer>
		
        <div class="addfooter"></div>
         
</footer>

</body>

<script src="js/menurepon.js"></script>

</html>