<!DOCTYPE html>
<html>
<head> 
 	<meta name="author" content="Gustavo Balieiro-1520138">
	<meta name="author" content="Luan Millian-123456">

<title>USF - Universidade São Francisco</title> 
<meta charset="utf-8"/>
</head>
	
	<!-- MediaQuery -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<!-- /MediaQuery -->
	
	<!-- CSS's -->
	<link rel="stylesheet" type="text/css" href="/static/estilo.css">
	<link rel="stylesheet" href="/static/base.css">
	<link rel="stylesheet" type="text/css" href="/static/styles.css" media="all" />
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/menuresponsivo.css">
    <link rel="stylesheet" href="/static/news.css">
    <!-- /CSS's -->
  
    <!-- Java Script -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>    
     
   
	
	<!-- Adicionar HEADER e FOOTER-->
	<script>
	$(function() {
		$(".addheader").load("header.html");
		$(".addfooter").load("footer.html");
	})
	</script>
	<!-- /Adicionar HEADER e FOOTER-->
	
	<!-- /Java Script -->



<body>

	
<header>
       
       <div class="addheader"></div>

			
		  
</header> 



	<div class="imgban">
			<img src="/static/banner-topo-noticia-home.jpg">
				<div class="caixa_news">
					<div class="titulo_news">
						<h2>NEWS</h2>
					</div>
				</div>
	</div>
		
<section>
		
	<div class="section">		
	
		<div class="news_">
			<img src="/static/news1.jpg">
			<p>Alunos do Curso de Administração da Faculdade Impacta apresentam trabalho de conclusão de curso</p>
			<p>17 de novembro de 2016</p>
			

			<div class="leia">
				<a href="new1.html">leia mais</a>
			</div>
		</div>
		
		<div class="news_">
			<img src="/static/news.jpg">
			<p>Alunos da Faculdade Impacta vencem a 5.ª edição do Hackathon da FIESP</p>
			<p>11 de novembro de 2016</p>

			<div class="leia">
				<a href="#">leia mais</a>
			</div>
		</div>		
		
		
	
	</div>
	
</section>

																						
																							

<footer>
	
			<div class="footer">
				<div class="rod">
					<h2><strong>SOBRE</strong></h2>
					Na Universidade São Francisco (USF), o aluno conta com a tradição de uma instituição sólida no mercado educacional. São mais de 40 anos de atuação e 80 mil alunos formados. Presente nas cidades de Bragança Paulista, Campinas (Unidades Swift e Cambuí) e Itatiba, oferta mais de 30 cursos de graduação, 10 de pós-graduação, incluindo três programas de Mestrado e Doutorado.
				</div>
        		<div class="rod">
						<h2><strong>Navegação</strong></h2>

						<ul class="menurod">

							
							<li><a href="institucional.html">Institucional</a></li>
							<li><a href="#">Cursos</a>
								
									<ul class="sub-menurod">
										<li><a href="ads.html">Analise e Desenvolvimento de sistema</a></li> 
										<li><a href="adm.html">Administração</a></li> 
										<li><a href="enfermagem.html">Enfermagem</a></li> 
										<li><a href="fisioterapia.html">Fisioterapia</a></li>                 

									</ul>

							 </li>
						<li><a href="#">Estude na USF</a></li>
						<li><a href="noticias.html">Noticias</a></li>
						<li><a href="contato.html">Contato</a></li>

						</ul>	
					
				</div>
          		
          		<div class="rod">
					<h2><strong>CONTATO:</strong></h2>
					<strong>Comercial:</strong>
					Tel: 11 3254-8300<br />

					<strong>Secretaria:</strong>
					Tel: 11 5593-5346<br /><br /><br />

					Unidade - Barra Funda

					Avenida Rudge, 315 - Barra Funda
					São Paulo / SP<br />
				</div>
          		
           		
                    
            
            
            
         </div>
         
         <div class="copy">
					<div class="redes">
						<a href ="https://www.facebook.com/usfoficial" target="_blank"><img src="/static/facebook.png" alt="USF_Facebook"></a> 

						<a href ="https://www.linkedin.com/edu/school?id=10725&trk=prof-following-school-logo" target="_blank"><img src="/static/linkedin.png" alt="USF_Linkedin"></a>

						<a href ="https://twitter.com/usfoficial" target="_blank"><img src="/static/twitter.png" alt="USF_Twitter"></a>

						<a href ="http://www.youtube.com.br/mktusf" target="_blank"><img src="/static/youtube.png" alt="USF_Youtube"></a>

						<a href ="https://instagram.com/usfoficial"  target="_blank"><img src="/static/instagram.png" alt="USF_Instagram"></a> 
						
					</div>
				</div>
         
</footer>
         
</footer>

</body>



</html>